<p>Hey There!</p>
<p>
  A video lesson has been uploaded to your Trakstats profile!
  Check it out <a href="https://trakstats.herokuapp.com/lessons">HERE!</a>
</p>

Thanks!<br />
The team at Trakstats
