<br /><br />
<h2 class="text-center">Upload your video lesson!</h2>
  <div class="col-xs-6 col-xs-offset-3">
    <%= simple_form_for @lesson do |f| %>
      <%= f.input :video, label: 'Upload your video here' %>
      <%= f.input :caption, label: 'Enter a description of what you struggle with - 250 chars max!', placeholder: 'Example - I struggle hitting the ball fat and ocassionally hook the ball.' %>
        <br />
      <%= f.submit "Add Swing", class: 'btn btn-primary btn-xs' %>
      <% end %>
  </div>
