<br /><br />
<h2 class="text-center">Upload your video lesson!</h2>
<div class="col-xs-10 col-xs-offset-1">
  <%= simple_form_for @lesson do |f| %>
    <%= f.input :picture %>
    <%= f.input :caption %>
      <br />
    <%= f.submit "Add Swing", class: 'btn btn-primary btn-xs' %>
    <% end %>
</div>
