
<br /><br /><br /><br />
<div class="col-xs-6 col-xs-offset-3 receipt">
  <h2 class="text-center">Thanks <%= current_user.name %>!</h2>
  <p class="info text-center">
    Your lesson is paid.  You paid $40.00 on <%= Time.now.strftime("%m-%d-%Y") %>.
    Please print this page for your records.
  </p>
  <br />
</div>
