.about-icons {
  height: 100px;
}

.first-about {
  background-color: #c0c5ce;
  padding-top: 100px;
}

.second-about {
  padding-top: 100px;
  background-color: #309C83;
  color: white;;
}

.third-about {
}

.size {
  height: 350px;
}

.size2 {
  height: 350px;
}


.size3 {
  height: 180px;
}

.infoa {
  font-size: 20px;
}

.about-intro {
  background-color: #309C83;
  color: white;
}
