.each-average {
  border: 1px solid black;
  background-color: #286B6B;
  color: white;
  padding-top: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px 0 black;
}

.tleader {
  font-size: 20px;
  font-family: 'Codystar', cursive;
  color: black;
}

.leaders {
  background-color: white;
  color: black;
}

.each-best {
  border: 1px solid black;
  background-color: #235653;
  color: white;
  padding-top: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px 0 black;
}

.table2 {
  background-color: white;
  color: black;
  margin-bottom: 50px;
}

.table2 tr:first-child{
  background-color: white;
}

tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.77);
  color: black;
}

.pencil, .trash {
  height: 13px;
}

.box {
  color: black;
}

.box img {
  border: 1px solid white;
}

img.editing {
  height: 18px;
  border: none;
}

.new-round {
  margin-top: 50px;
  background-color: #a00000;
  height: 65px;
  margin-left: 25px;
  box-shadow: 1px 1px 2px 0 black;
}

.user-photo img {
  border-radius: 100%;
  width: 25%;
}

.recap {
  margin-top: 100px;
  background: url('/assets/grey_wash_wall.png');
  color: white;
}

.round-recap {
  background-color: transparent;
  color: black;
}

.comment_handle, .score-handle {
  color: white;
}
