.each-average {
  border: 1px solid black;
  background-color: #286B6B;
  color: white;
  padding-top: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px 0 black;
}

.tleader {
  font-size: 20px;
  font-family: 'Codystar', cursive;
  color: white;
}

.leaders {
  background-color: #286B6B;
  color: white;
  padding-bottom: 25px;
  border: 1px solid black;
}

.each-best {
  border: 1px solid black;
  background-color: #823E40;
  color: white;
  padding-top: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px 0 black;
}

.table2 {
  background-color: #215755;
  color: white;
  margin-bottom: 50px;
  box-shadow: 1px 1px 2px 0 white;
}

.table2 tr:first-child{
  background-color: #1C4D4B;
}

tr:nth-child(even) {
  background-color: #286B6B;
}
