@font-face {
  font-family: 'FranklinGothic-Heavy';
  src: url('/assets/FranklinGothic-Heavy.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITCFranklinGothicStd-Hvy';
  src: url('/assets/ITCFranklinGothicStd-Hvy.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
