.footer {
  background-color: #286B6B;
  color: white;
}

.linkavg2 {

  a {
    color: white;
    font-family: 'NTR', sans-serif;
    font-size: 18px;
    margin: 40px;

    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}
