.first-section {
  background-color: #113736;
  color: white;
  height: 1100px;
  padding-top: 50px;
  padding-bottom: 100px;
  box-shadow:10px 10px 50px 20px black inset;
}

.get-back {
  background-color: #113736;
  color: white;
  height: 900px;
}

.second-section {
  background-color: #00a99d;
  color: white;
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.third-section {
  background-color: #113736;
  color: white;
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.last-section {
  background-color: #0071bc;
  color: white;
  height: 800px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.sign-in img {
  height: 200px;
}

.big-text {
  font-family: 'FranklinGothic-Heavy';
  font-size: 7rem;
  text-shadow: 3px 3px black;
}

.text-icons {
  font-family: Arial;
}

.big-icons img {
  padding-top: 50px;
  height: 150px;
}

.big-icons1 img {
  padding-top: 50px;
  padding-left: 250px;
  height: 350px;
}

.big-icons2 img {
  padding-top: 100px;
  height: 300px;
}

.big-icons3 img {
  padding-top: 200px;
  height: 400px;
  margin-left: 375px;
}

p.landing-info1, p.landing-info2 {
  margin-left: 25px;
  font-size: 22px;
}

.landing-info1 {
  color: black;
}

.landing-info1 {
  color: white;
}

.lastp {
  padding-top: 100px;
  padding-left: 50px;
}

a.sign-in {
  color: yellow;
}

a.sign-in:hover {
  text-decoration: none;
}

a.sign-in:visited {
  color: yellow;
}
