@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Codystar|Yantramanav:100,300,400');

p {
  font-size: 18px;
}

body {
  background-color: #C7D1D4;
  font-family: 'Yantramanav', sans-serif;
}

.responsive-scale{
	width:100%;
	padding-bottom: 35.666666666667%; /* 960px/1440px */
	background-image:url('whistling.jpg');
	background-size:cover;
	background-position:center; /* IE fix */
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.big-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #6F8C87;
  color: black;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 15px;
}

.leaderboard {
  background: #0E6E38 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #F1EBE4;
  height: auto;
  margin-top: 25px;
}

.leaderboard-show {
  background: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  height: auto;
  margin-top: 25px;
}

.leaderboard-edit {
  background: #285C55 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: auto;
  margin-top: 25px;
  font-size: 1.25em;
}


.averages {
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.averages2 {
  margin-top: 25px;
  padding-bottom: 50px;
}

.first-chart {
  margin-top: 25px;
}

.newpage {
  height: 500px;
  background-color: white;
  color: black;
  margin-top: 50px;
}

.recap {
  margin-top: 100px;
  background-color: white;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  border-radius: 0;
  border: none;
  background-color: #244147;
  // background: #235237;
  margin-bottom: 0;
}

.nav.navbar .navbar-default {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 16px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 100;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black;
}

.navbar .navbar-brand {
  color: white;
  font-family: 'Codystar', cursive;
  font-size: 20px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: black;
}

.convo {
  margin-top:50px;
  background-color: #244147;
  color: white;
}

.banner {
  margin-top: 100px;
  padding-bottom: 50px;
}

.splitter {
  background: url('embossed_paper.png');
  color: black;
  height: 900px;
  margin-top: 100px;
}

.msgbtn {
  border: none;
  background-color: black;
  color: white;
}

.msgbtn:hover {
  background-color: black;
}

.links a {
  color: white;
  padding: 20px;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 22px;
}

.linkavg {
  font-family: 'Yantramanav', sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.linkavg a {
  color: black;
  padding: 15px;
}

.linkavg a:visited {
  color: black;
}

.linkavg a:hover {
  text-decoration: none;
  color: white;
}

.big-score {
  font-size: 3em;
}

.big-score2 {
  font-size: 3em;
  border: 2px solid black;
  background-color: #0EA167;
  color: white;
}

.little-score {
  font-size: 1.5em;
}

.bottom {
  margin-bottom: 100px;
}

.push {
  padding-top: 15px;
}
a:focus {
  border: none;
}

a:visited {
  color: white;
}

.modal-open .modal, a:focus {
  outline:none;
}

.icons {
  height: 125px;
}

.icons2 {
  height: 200px;
}

.social {
  height: 45px;
}

.messages .form-control {
  width: 300px;
}

.messages {
  margin-bottom: 100px;
}

.email a {
  color: white;
  font-size: 18px;
}

.errors {
  font-size: 25px;
  padding-left:100px;
}

.clr {
  clear:both;
}

hr {
  width: 500px;
}

.title {
  margin-top: 50px;
}

.modal-header, .modal-body, .modal-footer {
  background-color: #374F4F;
  color: white;
  font-size: 1.25em;
}

.member-stats {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sands {
  margin-left: 15px;
}
.images {
  height: 200px;
}

.info {
  font-size: 20px;
}

.info a {
  color: white;
}

.info a:visited {
  color: white;
}

#input {
  width: 100%;
}

.last-stat {
  margin-bottom: 100px;
}

.comment_handle, .score-handle {
  color: rgba(0, 0, 0, 0.3);
}

.alert-danger {
  border-radius: 0;
}

.user {
  height: 75px;
}

.round-link {
  color: white;
}

.round-link a:visited {
  color: white;
}

a {
  color: white;
}

.round-link a {
  color: white;
}

tr:nth-child(even) {
  background-color: #0EA167;
}

th, td {
  padding: 10px;
  font-size: 18px;
}

.table1 tr:first-child{
  background-color: #244147;
}

.table1 {
  background-color: #10754D;
  color: white;
  margin-bottom: 50px;
  width: 100%;
}

.table2 {
  background-color: #10754D;
  color: white;
  margin-bottom: 50px;
}

.table2 tr:first-child{
  background-color: #244147;
}

table, th, td {
  border: 1px solid white;
}

.table-title th {
  font-size: 21px;
  text-align: center;
}

.scores {
  background-color: #244147;
}

.user-table {
  margin-bottom: 75px;
}

.info a {
  color: black;
}

.info a:hover a:visited {
  color: black;
}

.show-stats {
  margin-bottom: 150px;
}

.putts {
  background-color: #A3E3F0;
}

legend {
  border-bottom: none;
  font-size: 35px;
}

.what h1 {
  margin-top: 0;
}

.info2 {
  font-size: 22px;
}

.info a:visited {
  color: black;
}

.info a:hover {
  color: firebrick;
}

.receipt {
  background-color: #81A6B3;
  color: white;
}

.avgs {
  height: 30px;
}

.avgs2 {
  height: 20px;
}

averages#text {
  font-size: 20px;
}

.edits {
  color: white;
}

.edits:visited {
  color: white;
}

.bigdate {
  font-size: 35px;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
  .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 300;
    display: inline-block;
  }

  .navbar .navbar-brand {
    color: white;
    font-family: 'Codystar', cursive;
    font-size: 29px;
  }

  .navbar .navbar-brand:visited {
    color: white;
  }

  th, td {
    padding: 10px;
    font-size: 23px;
  }

  p {
    font-size: 22px;
  }

  .comment {
    font-size: 25px;
  }

  .convo {
    height: 30px;
    font-size: 1.25em;
  }

  .info {
    font-size: 25px;
  }
}
