@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Raleway:500|NTR|Codystar|Yantramanav:100,300,400|Pavanam');

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
  transition-timing-function:linear;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

p {
  font-size: 17px;
}

body {
  background-color: lightgray;
  font-family: 'NTR', sans-serif;
  letter-spacing: .5px;
  // font-size: 20px;
}

.big-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 black;
  background: #195c60;
  color: white;
  padding: 10px;
  margin-top: 15px;
}

.big-box2 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #438496;
  color: white;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 15px;
}

.big-box3 {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #244147;
  color: white;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 15px;
}

.leaderboard {
  background: #0E6E38 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #F1EBE4;
  height: auto;
  margin-top: 25px;
}

.leaderboard-show {
  background: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  height: auto;
  margin-top: 25px;
}

.leaderboard-edit {
  background: #285C55 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: auto;
  margin-top: 25px;
  font-size: 1.25em;
}

.averages {
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.averages2 {
  margin-top: 25px;
  padding-bottom: 50px;
}

.first-chart {
  margin-top: 25px;
}

.newpage {
  height: 500px;
  background-color: white;
  color: black;
  margin-top: 50px;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.convo {
  margin-top:50px;
  background-color: #244147;
  color: white;
}

.lessons {
  margin-bottom: 100px;
}

.each-lesson {
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner {
  margin-top: 100px;
  padding-bottom: 50px;
}

.msgbtn {
  border: none;
  background-color: #244147;
  color: white;
}

.msgbtn:hover {
  background-color: #2E6975;
}

.links a {
  color: white;
  padding: 20px;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 22px;
}

.big-score {
  font-size: 3em;
}

.big-score2 {
  font-size: 3em;
  border: 2px solid black;
  background-color: #015249;
  color: white;
}

.little-score {
  font-size: 1.5em;
}

.bottom {
  margin-bottom: 100px;
}

.push {
  padding-top: 15px;
}
a:focus {
  border: none;
}

a:visited {
  color: white;
}

.modal-open .modal, a:focus {
  outline:none;
}

.icons {
  height: 70px;
}

.icons2 {
  height: 200px;
}

.social {
  height: 45px;
}

.messages .form-control {
  width: 300px;
}

.messages {
  margin-bottom: 100px;
}

.email a {
  color: white;
  font-size: 18px;
}

.errors {
  font-size: 25px;
  padding-left:100px;
}

.vids img {
  border: 2px solid black;
}

.clr {
  clear:both;
}

hr {
  width: 500px;
}

.hr-split {
  width: 800px;
  color: black;
  margin-top: 50px;
  border-top: 1px solid black;
}

.title {
  margin-top: 50px;
}

.modal-header, .modal-body, .modal-footer {
  background-color: #015249;
  color: white;
  font-size: 1.25em;
}

.member-stats {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sands {
  margin-left: 15px;
}
.images {
  height: 200px;
}

.info {
  font-size: 20px;
}

.info a {
  color: white;
}

.info a:visited {
  color: white;
}

#input {
  width: 100%;
}

.last-stat {
  margin-bottom: 100px;
}

.user {
  height: 75px;
}

.round-link {
  color: white;
}

.round-link a:visited {
  color: white;
}

a {
  color: white;
}

.round-link a {
  color: white;
}


.scores {
  background-color: #244147;
}

.user-table {
  margin-bottom: 75px;
}

.info a {
  color: black;
}

.info a:hover a:visited {
  color: black;
}

.show-stats {
  margin-bottom: 150px;
}

.putts {
  background-color: #A3E3F0;
}

legend {
  border-bottom: none;
  font-size: 35px;
}

.what h1 {
  margin-top: 0;
}

.info2 {
  font-size: 22px;
}

.info a:visited {
  color: black;
}

.info a:hover {
  color: firebrick;
}

.receipt {
  background-color: #81A6B3;
  color: white;
}

.avgs {
  height: 30px;
}

.avgs2 {
  height: 20px;
}

averages#text {
  font-size: 20px;
}

.edits {
  color: white;
}

.edits:visited {
  color: white;
}

.edits2 {
  color: blue;
  font-size: 20px;
}

.edits2:visited {
  color: blue;
}

.bigdate {
  font-size: 35px;
}

.pgalogo {
  height: 200px;
}

.swings {
  margin-left: 50px;
}

a.lessonlink:visited {
  color: black;
}

a.lessonlink:hover {
  color: white;
}

.cost {
  font-size: 20px;
}

.lessonbtn {
  background-color: #325F6E;
  color: white;
  height: 75px;
  width: 400px;
  font-size: 20px;
}

.form-control {
  height: 40px;
  font-size: 18px;
}

.wcpic {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  border: 1px solid black;
}

.wc {
  margin-top: 25px;
}

.pga img {
  height: 150px;
}

.top {
  margin-top :50px;
}

.good {
  margin-bottom: 50px;
}

input#lesson_caption.string.required.form-control {
  height: 75px;
}

.issue {
  color: firebrick;
}

.bottom-advice {
  margin-top: -90px;
  margin-bottom: 75px;
}

.fix {
  margin-top: 150px;
  margin-bottom: 150px;
}

.infoa {
  font-size: 30px;
}

.wrap img {
  border: 1px solid black;
}

.tk img {
  border: 1px solid darkgray;
  height: 85%;
  width: 85%;
}

.pk {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
}

.about-ror {
  height: 150px;
  background-color: #244147;
  margin-bottom: 0;
}

a.about-link {
  color: black;

  &:hover {
    color: firebrick;
    text-decoration: none;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
  .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 26px;
    font-weight: 300;
    display: inline-block;
  }

  .navbar .navbar-brand:visited {
    color: white;
  }

  th, td {
    padding: 10px;
    font-size: 23px;
  }

  p {
    font-size: 22px;
  }

  .comment {
    font-size: 25px;
  }

  .convo {
    height: 30px;
    font-size: 1.25em;
  }

  .info {
    font-size: 25px;
  }

  .each-round-back p {
    font-size: 12px;
  }

}
