@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|NTR');

body {
  background-color: #C7D1D4;
  // color: #E4F1F5;
  font-family: 'NTR', sans-serif;
}

// body {
//   background: url('kings.jpg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   color: black;
//   font-family: 'NTR', sans-serif;
// }

.responsive-scale{
	width:100%;
	padding-bottom: 35.666666666667%; /* 960px/1440px */
	background-image:url('whistling.jpg');
	background-size:cover;
	background-position:center; /* IE fix */
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.big-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  color: black;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 15px;
}

.leaderboard {
  background: #0E6E38 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #F1EBE4;
  height: auto;
  margin-top: 25px;
}

.leaderboard-show {
  background: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  height: auto;
  margin-top: 25px;
}

.leaderboard-edit {
  background: #285C55 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: auto;
  margin-top: 25px;
  font-size: 1.25em;
}

.first-chart {
  margin-top: 25px;
}

.newpage {
  height: 500px;
  background-color: white;
  color: black;
  margin-top: 50px;
}

.recap {
  margin-top: 100px;
  background-color: white;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  border-radius: 0;
  border: none;
  background: #235237;
  margin-bottom: 0;
}

.nav.navbar .navbar-default {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 16px;
  font-family: 'NTR', sans-serif;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black;
}

.navbar .navbar-brand {
  color: white;
  font-family: 'NTR', sans-serif;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: black;
}

.banner {
  margin-top: 100px;
  padding-bottom: 50px;
}

.splitter {
  background: url('embossed_paper.png');
  color: black;
  height: 800px;
  margin-top: 100px;
}

.msgbtn {
  border: none;
  background-color: black;
  color: white;
}

.msgbtn:hover {
  background-color: black;
}

.links a {
  color: white;
  padding: 20px;
  margin: 20px;
  margin-bottom: 50px;
  font-size: 22px;
}

.big-score {
  font-size: 3em;
}

.little-score {
  font-size: 1.5em;
}


.push {
  padding-top: 15px;
}
a:focus {
  border: none;
}

a:visited {
  color: white;
}

.modal-open .modal, a:focus {
  outline:none;
}

.icons {
  height: 125px;
}

.social {
  height: 45px;

}

.messages .form-control {
  width: 300px;
}

.email a {
  color: white;
  font-size: 18px;
}

.errors {
  font-size: 25px;
  padding-left:100px;
}

.clr {
  clear:both;
}

hr {
  width: 500px;
  padding: 25px;
}

.title {
  margin-top: 50px;
}

.modal-header, .modal-body, .modal-footer {
  background-color: #285C55;
  color: white;
  font-size: 1.25em;
}

.member-stats {
  margin-top: 50px;
  margin-bottom: 50px;
}

.images {
  height: 200px;
}

.info {
  font-size: 20px;
}

.info a {
  color: white;
}

.info a:visited {
  color: white;
}

#input {
  width: 100%;
}

.last-stat {
  margin-bottom: 100px;
}

.comment_handle, .score-handle {
  color: rgba(0, 0, 0, 0.3);
}

.alert-danger {
  border-radius: 0;
}

.chart {
  background: transparent;
}

.user {
  height: 75px;
}

.round-link {
  color: white;
}

.round-link a:visited {
  color: white;
}

a {
  color: white;
}

.round-link a {
  color: white;
}

th, td {
  padding: 10px;
  font-size: 18px;
}

table {
  width: 100%;
  background-color: #10754D;
  color: white;
}

table, th, td {
  border: 1px solid white;
}

.table-title th {
  font-size: 21px;
  text-align: center;
}

.scores {
  background-color: #244147;
}

.rank {
  background-color: darkred;
}

.averages {
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.averages2 {
  margin-top: 25px;
  padding-bottom: 50px;
}

.user-table {
  margin-bottom: 75px;
}

.info a {
  color: black;
}

.info a:hover a:visited {
  color: black;
}

.carousel-inner > .item >img, .carousel-inner >.item > a > img {
  object-fit: cover;
  overflow: hidden;
}

.show-stats {
  margin-bottom: 150px;
}


@media (max-width: 780px) {
  hr {
    width: 100px;
  }
}

@media (max-width: 780px) {
  .links a {
    color: white;
    padding: 5px;
    margin: 5px;
    margin-bottom: 50px;
    font-size: 15px;
  }
}
