th, td {
  padding: 10px;
  font-size: 17px;
}

.table1 tr:first-child{
  background-color: white;
  color: black;
}

.table1 tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.77);
  color: black;
}

.table1 {
  background-color: white;
  color: black;
  margin-bottom: 50px;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.table-title th {
  font-size: 21px;
  text-align: center;
}

.linkavg a {
  font-family: 'NTR', sans-serif;
  font-size: 18px;
  color: black;
}

.linkavg a:visited {
  color: black;
}

.linkavg a:hover {
  text-decoration: none;
  color: #a00000;
}

.fitz {
  margin-bottom: 500px;
}
