<br />
<div class="container">
  <h3>About TrakStats -</h3>
  <p class="info justify">
    TrakStats is a simple stat tracking program that lets you keep track of your golf and keep in touch with your friends!
    Best viewed on iPad, laptop or desktop!
    <br />
    Questions or concerns? Please send me an <a href="mailto:wade.carlson@pga.com">EMAIL</a> (wade.carlson@pga.com)
  </p>
</div>
<div>
  <div class="col-xs-6">
    <p class="info top">
      Membership is free and you have access to<br />
      the following -
    </p>
    <ul class="info">
      <li>Add / Edit Rounds</li>
      <li>Stat Averages</li>
      <li>Rankings</li>
      <li>View other member scores</li>
      <li>Leave comments and messages</li>
      <li>Tips</li>
  </div>
  <div class="col-xs-6">
    <p class="info top">
      Tips aren't cutting it? Submit a Video for a lesson! (Premium)
    </p>
    <ul class="info">
      <li>Checkout with Stripe &amp Submit a Video</li>
      <li>Leave some notes about your swing</li>
      <li>I'll check it out and review it</li>
      <li>Your lesson is documented!</li>
      <li>You always have access to it!</li>
  </div>
</div>
<br class="clr" />
<br class="clr" />
<div class="col-xs-10 col-xs-offset-1 top text-center tk">
  <%= image_tag 'about3.png', class: 'img-responsive' %>
</div>
<br class="clr" />

<div class="col-sm-4 text-center banner">
    <%= image_tag 'golf-2.png', class: 'icons' %>
    <br />
    <h4>Play golf!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'analytics.png', class: 'icons' %>
    <br />
    <h4>Track your stats!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'hole.png', class: 'icons' %>
    <br />
    <h4>Start Improving!</h4>
</div>
