<div class="about-intro">
  <br /><br />
  <h1 class="text-center">The Story Behind TrakStats...</h1>
  <br />
  <div class="container">
    <p class="info bottom">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum, dolor sed egestas accumsan, nibh nunc lacinia lectus, vel pulvinar neque nisl efficitur lectus. Aliquam volutpat nunc eget fringilla mollis. Mauris venenatis, orci in molestie faucibus, nunc felis tincidunt mi, ac viverra nisi metus id risus. Mauris diam lectus, pharetra sagittis convallis ut, auctor in metus. Donec varius, enim at pulvinar sagittis, justo odio fermentum augue, vel iaculis ligula purus quis dolor. Integer nec dapibus ligula, sit amet bibendum orci. Pellentesque eu lacus eget lectus scelerisque maximus.
    </p>
  </div>
</div>

  <div class="first">
    <div class="col-xs-6 text-center first-about size">
      <%= image_tag 'upload.png', class: 'about-icons' %>
    </div>
    <div class="col-xs-6 text-center first-about size">
      <p class="infoa">Upload your Round!</p><br />
      <p>
        Score, Greens Hit, Fwys Hit...
      </p>
    </div>
  </div>

  <br class="clr" />

  <div class="second">
    <div class="second-about size2 second-about">
      <div class="col-xs-6 text-center">
        <p class="infoa">Track Your Stats!</p><br />
        <p>
          Scoring Average, Best Round, How you rank...
        </p>
      </div>
      <div class="col-xs-6 text-center size2">
        <%= image_tag 'analytics.png', class: 'about-icons' %>
      </div>
    </div>
  </div>

  <br class="clr" />

  <div class="first">
    <div class="col-xs-6 text-center top size3">
      <%= image_tag 'golf.png', class: 'about-icons' %>
    </div>
    <div class="col-xs-6 text-center top size3">
      <p class="infoa">Start To Improve!</p><br />
      <p>
        Enjoy better scores and have more fun on the course...
      </p>
    </div>
  </div>
