<br />
<div class="container">
  <h2>About TrakStats</h2>
  <br />
  <div class="col-xs-8">
    <p class="info">
      Getting better at golf is hard, I made TrakStats to help make that process easier!
      Hello, I'm Wade Carlson. I am a web developer that is also a Class A, PGA Golf Professional. I've taught
      thousands of hours of golf istruction to students of all abilities. From my experience, most of the
      students that I have met simply do not know what to work on, what their weaknesses are and what will
      help them to imporve more quickly. We don't have a lot of time to practice, so it's important
      to make the best use of the time that you do have.
    </p>
    <br />
    <p class="info">
      There are a lot of ways to track your improvement on the golf course. I've seen all of the
      gadgets and gps systems that have been developed and the fact of the matter is, most golfers
      simply do take the time to see the benefits that these systems offer. They are too time intensive and we
      want results faster.
    </p>
    <br />
    <p class="info">
      TrakStats is a very basic system where all you do is keep track on your scorecard of a few basic
      stats while you play. Once you finish, enter your round and over time you will start to see
      averages and trends that should give you some guidance. Also, if you shoot 80, do you know what your
      stats should look like if you are trying to shoot 75? Do you know the scores of the last 5 rounds you shot? Do you know
      how many fairways you hit last time out? Do you know what your typical miss is? I can help you with that. It's not complicated!
    </p>
    <br />
    <p class="info">
      TrakStats is completely free to use! If after a while you still find yourself stuck, I
      still teach lessons from time to time. Check out the 'Lessons Section' in the Clubhouse tab to upload a video
      for an online lesson.
    </p>
    <br />
    <p class="info">
      I hope you enjoy using TrakStats!
    </p>
  </div>
  <div class="col-xs-3 about-img text-center">
    <%= image_tag 'me.jpg', class: 'img-responsive' %> <i>Wade Carlson<br />Web Developer<br />PGA Professional</i>
  </div>
</div>
