
<h2 class="text-center title">About TrakStats</h2>
<br />



<div class="col-sm-4 text-center banner">
    <%= image_tag 'golf-2.png', class: 'icons' %>
    <br />
    <h4>Play golf!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'analytics.png', class: 'icons' %>
    <br />
    <h4>Track your stats!</h4>
</div>
<div class="col-sm-4 text-center banner">
    <%= image_tag 'hole.png', class: 'icons' %>
    <br />
    <h4>Start Improving!</h4>
</div>
