<br /><br /><br />


<div class="leaderboard col-xs-10 col-xs-offset-1">
  <h2 class="text-center">Recent Member Scores</h2>
    <hr />
    <div class="col-xs-4 text-center">
      <h3>Name</h3>
      --------------
      <br />
      <% @rounds.each do |round| %>
      <h4><%= round.user.name %></h4>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <h3>Course</h3>
      --------------
      <br />
      <% @rounds.each do |round| %>
      <h4><%= round.course %></h4>
      <% end %>
    </div>
    <div class="col-xs-4 text-center">
      <h3>Score</h3>
      --------------
      <br />
      <% @rounds.each do |round| %>
      <h4><%= round.score %></h4>
      <% end %>
    </div>
</div>

<div class="leaderboard col-xs-10 col-xs-offset-1">
  <h2 class="text-center">Member Chatter</h2>
    <hr />
</div>
