<br />
<br />
  <div class="col-xs-6 col-xs-offset-3 text-center bottom">
    <%= button_to "Upload your video!", { :action => "new", :controller =>"charges" }, :method => :get, class: 'lessonbtn' %>
    <p class="info">
      <br />
      IMPORTANT -> Information about videos <%= link_to 'HERE', howto_path %>!
    </p>
  </div>
  <hr class="hr" />
<div class="col-xs-10 col=xs-offset-1">
  <div class="lessons">
    <h2>Your Uploaded Video Lessons</h2>
    <% if current_user.lessons.present? %>
    <br class="clr" />
    <% current_user.lessons.each do |lesson| %>
    <div class="each-lesson">
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin vjs-big-play-centered" controls
          preload="auto" width="800" height="500" poster="/assets/black.jpg" data-setup="{}">
          <source src="<%= lesson.video.to_s %>" type='video/mp4'>
            <noscript>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p></noscript>
      </video>
      <div class="advice">
        <div class="top bottom">
          <p class="info advice">
            <%= lesson.advice %>
          </p>
        </div>
      </div>
    </div>
    <br class="clr" />
    <% end %>
  </div>
  <% end %>
</div>
