<div class="container top bottom">
  <h2>Notes</h2>
  <br />
  <% current_user.notes.each do |note| %>
  <p class="info">
    <%= note.round.course %>:
    <%= note.message %><br />
  </p>
  <% end %>
</div>
<div class="container top">
  <p class="info" style="color: red;">
    <%= current_user.users_duplicate_notes %>
  </p>
</div>
