<br />
<div class="col-xs-12">
  <h2 class="text-center">The Rankings</h2>
  <div class="col-xs-6 bottom">
    <br /><br />
    <p class="info">
      By signing up for TrakStats, you have access to
      a rankings section that let's you see how you stack up against other TrakStats users.
    </p>
    <br />
    <p class="info">
      See how you rank vs OTHER TrakStats members by:
    </p>
    <ul class="info">
      <li>Scoring Avearage</li>
      <li>Driving Accuracy</li>
      <li>Green's in Regulation</li>
      <li>Putting Average</li>
      <li>Birdie Average</li>
      <li>Par Average</li>
    </ul>
    <br />
      <div class="col-xs-6 text-center">
        <h2>Thanks for being a member!</h2>
        <br />
        <%= link_to scoringavg_path do %>
          <%= image_tag 'showme.png', class: 'icons' %>
        <% end %>
        <p class="info">
          Show me the rankings!
        </p>
      </div>
  </div>
    <div class="col-xs-6 bottom">
    <%= image_tag 'stat1.png', class: 'img-responsive' %>
    <br class="clr" />
    <%= image_tag 'stat2.png', class: 'img-responsive' %>
  </div>
</div>
