<br /><br />
<div class="col-xs-12">
  <div class="col-xs-6 bottom">
    <br /><br />
    <p class="info">
      By signing up for TrakStats, you have access to
      a rankings section that let's you see how you stack up against other users.
    </p>
    <br />
    <p class="info">
      See how you rank in these categories for 18 hole scores:
    </p>
    <ul class="info">
      <li>Scoring Average</li>
      <li>Driving Accuracy</li>
      <li>Green's in Regulation</li>
      <li>Putting Average</li>
      <li>Birdie Average</li>
      <li>Par Average</li>
    </ul>
    <br />
      <div class="col-xs-6 text-center fitz">
        <h2>Thanks for being a member!</h2>
        <br />
        <%= link_to scoringavg_path do %>
          <%= image_tag 'showme.png', class: 'icons' %>
        <% end %>
        <p class="info">
          Show me the rankings!
        </p>
      </div>
  </div>
</div>
