<br />
<div class="col-xs-10 col-xs-offset-1">
  <h1 class="text-center">Need help? You've come to the right place.</h1>
</div>
<br /><br /><br />
<br />
<h3 class="text-center">What do you want to shoot?<br />What should I be working on to improve?</h3>
<br /><br /><hr /><br /><br /><br />
<h1 class="sands">Scoring Avg &amp Stat Averages -</h1>
<br /><br />
<div>
  <div class="col-xs-4">
    <h3 class="text-center big-score2">70</h3>
    <ul class="info">
      <li>66% Green's hit</li>
      <li>81% Fwy's hit</li>
      <li>29  Putts</li>
      <li>3.2 Birdies</li>
      <li>11.8 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3 class="text-center big-score2">75</h3>
    <ul class="info">
      <li>55% Green's hit</li>
      <li>71% Fwy's hit</li>
      <li>30 Putts</li>
      <li>2.4 Birdies</li>
      <li>10.3 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3 class="text-center big-score2">80</h3>
    <ul class="info">
      <li>44% Green's hit</li>
      <li>59% Fwy's hit</li>
      <li>32 Putts</li>
      <li>1.8 Birdies</li>
      <li>8.5 Pars</li>
    </ul>
  </div>
  <br class="clr" />
  <div class="col-xs-4 bottom">
    <h3 class="text-center big-score2">85</h3>
    <ul class="info">
      <li>27% Green's hit</li>
      <li>46% Fwy's hit</li>
      <li>33.7 Putts</li>
      <li>0.8 Birdies</li>
      <li>6.6 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4 bottom">
    <h3 class="text-center big-score2">90</h3>
    <ul class="info">
      <li>14% Green's hit</li>
      <li>33% Fwy's hit</li>
      <li>35 Putts</li>
      <li>0.1 Birdies</li>
      <li>4.8 Pars</li>
    </ul>
  </div>
  <div class="col-xs-4 bottom">
    <h3 class="text-center big-score2">100</h3>
    <ul class="info">
      <li>0% Green's hit</li>
      <li>11% Fwy's hit</li>
      <li>38.3 Putts</li>
      <li>0 Birdies</li>
      <li>1.3 Pars</li>
    </ul>
  </div>
</div>
<hr />
<br class="clr" />
<div>
  <div class="col-xs-6 text-center bottom">
    <form id="courseYardage" action="" class="info">
    <fieldset>
    	<legend>Course Yardage Calculator</legend>
    	<p>
    		<label for="length">Avg Driver Distance (yds)</label>
    		<input id="length" name="length" type="number" />
    	</p>
    	<p>
    		<label for="iron">Avg 7 Iron Distance (yds)</label>
    		<input id="iron" name="iron" type="number" />
    	</p>
    	<p>
    		<input type="submit" value="Calculate yardage" />
    		or
    		<input type="reset" value="Reset" />
    	</p>
    	<p>
    		<label for="distance">Your Ideal Course Yardage (yds)</label>
    		<input id="distance" name="distance" type="number" />
    	</p>
    </fieldset>
    </form>
    <br /><br /><br /><br />
    <p class="info2">
      Go Low!
    </p>
    <br /><br />
    <%= image_tag 'golf.png' , class: 'icons2' %>
  </div>
  <div class="col-xs-6 bottom what">
    <h1 class="text-center">What length course should I play?</h1>
    <br />
    <p class="info2">
      Most golfers play a course that is too long for them. Use the calculator to determine what length course you should be playing.
      You typically hit 14 drives per round and you will have 18 approach shots with an iron.
      If you are hitting a wood or long iron into every par 4, it's time to re-assess what tees you play.
    </p>
    <br />
    <h3>(Avg Drive * 14) + (Avg 7i * 18) = Recommended Course Yardage</h3>
    <p>* from Golf Channel Morning Drive</p>
    <br />
    <p class="info2">
      If you drive the ball 250 yds and hit your 7 iron 150 yds, you should be playing a course that is 6200 yards.
      If you don't subscribe to that theory, take your average 5 iron distance (be honest) and multiply by 36.  The result will be about the same.
      Still don't subscribe?  Google, "What tees should I play" and you will find similar charts and information!
    </p>
    <p class="info2">
      What length course are you playing?
  </div>
</div>
