<br />
<div class="col-xs-10 col-xs-offset-1">
  <h2 class="text-center">Need help, you've come to the right place.</h2>
</div>
<br /><br /><br /><br /><br />
<div class="section">
  <div class="col-xs-6 text-center">
    <h2>Better Driving!</h2>

  </div>
  <div class="col-xs-6 text-center">
    <h2>Better Irons!</h2>

  </div>
</div>

<div class="section">
  <div class="col-xs-6 text-center">
    <h2>Better Chipping!</h2>

  </div>
  <div class="col-xs-6 text-center">
    <h2>Better Putting!</h2>
      
  </div>
</div>
