<div class="col-xs-6 col-xs-offset-3 receipt">
  <h2 class="text-center">Thanks, you paid <strong>$5.00</strong>!</h2>
  <p class="info text-center">
    Please print this page for your records.
  </p>
  <br />
  <%= link_to 'Back to TrakStats', root_path %>
</div>
